@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai");
@import url("https://cdnjs.cloudflare.com/ajax/libs/nerd-fonts/2.1.0/css/meslo.css");
@import "./custom.css";

:root {
	--vp-c-white: #ffffff;
	--vp-c-black: #000000;
	--vp-c-indigo-1: #3451b2;
	--vp-c-indigo-2: #3a5ccc;
	--vp-c-indigo-3: #5672cd;
	--vp-c-indigo-soft: rgba(100, 108, 255, 0.14);
	--vp-c-purple-1: #6f42c1;
	--vp-c-purple-2: #7e4cc9;
	--vp-c-purple-3: #8e5cd9;
	--vp-c-purple-soft: rgba(159, 122, 234, 0.14);
	--vp-c-green-1: #18794e;
	--vp-c-green-2: #299764;
	--vp-c-green-3: #30a46c;
	--vp-c-green-soft: rgba(16, 185, 129, 0.14);
	--vp-c-yellow-1: #915930;
	--vp-c-yellow-2: #946300;
	--vp-c-yellow-3: #9f6a00;
	--vp-c-yellow-soft: rgba(234, 179, 8, 0.14);
	--vp-c-red-1: #b8272c;
	--vp-c-red-2: #d5393e;
	--vp-c-red-3: #e0575b;
	--vp-c-red-soft: rgba(244, 63, 94, 0.14);
	--vp-c-sponsor: #db2777;
	--vp-c-bg: #ffffff;
	--vp-c-bg-alt: #f6f6f7;
	--vp-c-bg-elv: #ffffff;
	--vp-c-bg-soft: #f6f6f7;
	--vp-c-border: #c2c2c4;
	--vp-c-text-1: #3c3c43;
	--vp-c-text-2: #67676c;
	--vp-c-text-3: #929295;
	--vp-font-family-base: "Noto Sans Thai", sans-serif;
	--vp-font-family-mono:
		ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono",
		"Courier New", monospace;
	font-optical-sizing: auto;
	--vp-nav-height: 64px;
	--vp-nav-logo-height: 24px;
}

.dark {
	--vp-c-indigo-1: #a8b1ff;
	--vp-c-indigo-2: #4a5fc7;
	--vp-c-indigo-3: #2d4bb5;
	--vp-c-indigo-soft: rgba(100, 108, 255, 0.16);
	--vp-c-purple-1: #c8abfa;
	--vp-c-purple-2: #a879e6;
	--vp-c-purple-3: #8e5cd9;
	--vp-c-purple-soft: rgba(159, 122, 234, 0.16);
	--vp-c-green-1: #3dd68c;
	--vp-c-green-2: #30a46c;
	--vp-c-green-3: #298459;
	--vp-c-green-soft: rgba(16, 185, 129, 0.16);
	--vp-c-yellow-1: #f9b44e;
	--vp-c-yellow-2: #da8b17;
	--vp-c-yellow-3: #a46a0a;
	--vp-c-yellow-soft: rgba(234, 179, 8, 0.16);
	--vp-c-red-1: #f66f81;
	--vp-c-red-2: #f14158;
	--vp-c-red-3: #b62a3c;
	--vp-c-red-soft: rgba(244, 63, 94, 0.16);
	--vp-c-bg: #1b1b1f;
	--vp-c-bg-alt: #161618;
	--vp-c-bg-elv: #202127;
	--vp-c-bg-soft: #202127;
	--vp-c-border: #3c3f44;
	--vp-c-text-1: #dfdfd6;
	--vp-c-text-2: #98989f;
	--vp-c-text-3: #6a6a71;
}

/* Increase content font size */
.VPDoc {
	font-size: 16px;
}

/* Larger font size for mobile */
@media (max-width: 768px) {
	.VPDoc {
		font-size: 16px;
	}
}

/* Larger font size for tables */
.VPDoc table {
	font-size: 18px;
}

/* Mobile table font size */
@media (max-width: 768px) {
	.VPDoc table {
		font-size: 20px;
	}
}
