[submodule "rust-packages"]
	path = rust-packages
	url = https://github.com/wrikka/rust-packages
[submodule "bun-packages"]
	path = bun-packages
	url = https://github.com/wrikka/bun-packages
[submodule "nuxt-modules"]
	path = nuxt-modules
	url = https://github.com/wrikka/nuxt-modules
[submodule "vite-plugins"]
	path = vite-plugins
	url = https://github.com/wrikka/vite-plugins
[submodule "tsdown-plugins"]
	path = tsdown-plugins
	url = https://github.com/wrikka/tsdown-plugins
