name: wmorepo CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/monorepo
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install cargo-audit
        run: cargo install cargo-audit

      - name: Check formatting
        run: cargo fmt --manifest-path ./packages/wmonorepo/Cargo.toml -- --check

      - name: Run clippy
        run: cargo clippy --manifest-path ./packages/wmonorepo/Cargo.toml --all-targets --all-features

      - name: Run tests
        run: cargo test --manifest-path ./packages/wmonorepo/Cargo.toml --all-features

      - name: Security audit
        run: cargo audit --manifest-path ./packages/wmonorepo/Cargo.toml

      - name: Build release
        run: cargo build --manifest-path ./packages/wmonorepo/Cargo.toml --release
