name: Release

on:
	push:
		tags:
			- "v*.*.*"

jobs:
	build-and-release:
		runs-on: ubuntu-latest
		permissions:
			contents: write
		steps:
			- uses: actions/checkout@v4
			- uses: oven-sh/setup-bun@v1
				with:
					bun-version: latest
			- run: bun install
			- run: bun run build
			- run: bun run zip

			- name: Create Release
				uses: softprops/action-gh-release@v1
				with:
					files: |
						.output/*.zip
					draft: false
					prerelease: false
				env:
					GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

			- name: Upload to Chrome Web Store
				if: startsWith(github.ref, 'refs/tags/v')
				run: |
					bun run deploy:chrome
				env:
					CHROME_WEBSTORE_CLIENT_ID: ${{ secrets.CHROME_WEBSTORE_CLIENT_ID }}
					CHROME_WEBSTORE_CLIENT_SECRET: ${{ secrets.CHROME_WEBSTORE_CLIENT_SECRET }}
					CHROME_WEBSTORE_REFRESH_TOKEN: ${{ secrets.CHROME_WEBSTORE_REFRESH_TOKEN }}
					CHROME_WEBSTORE_EXT_ID: ${{ secrets.CHROME_WEBSTORE_EXT_ID }}
