[package]
name = "core"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1.0.100"
console_error_panic_hook = "0.1.7"
gif = "0.14.1"
thiserror = "2.0.17"
wasm-bindgen = "0.2.106"
