# Dependencies
node_modules

# Build outputs
dist
.output
stats.html
stats-*.json
.wxt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*

# IDEs
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Misc
web-ext.config.ts
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
