# Dependencies
/node_modules
/.pnp
.pnp.js

# Build artifacts
/dist
/build
.tsbuildinfo

# Logs
logs
*.log

# Runtime data
.DS_Store

# Environment variables
.env
.env.local

# IDE directories
.idea/
.vscode/

# Coverage
coverage
.nyc_output
